<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Nivel - AnatomyEasy</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f8ff;
      color: #333;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }
    h1 {
      color: #2c3e50;
      margin-bottom: 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 20px 0;
    }
    form {
      display: flex;
      justify-content: center;
    }
    button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 20px 40px;
      font-size: 24px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #2980b9;
    }
    .disabled {
      background-color: #bdc3c7; /* Color gris para deshabilitar */
      cursor: not-allowed; /* Cambia el cursor al pasar por encima */
    }
  </style>
</head>
<body>
  <% if locals[:message] %>
    <div class="alert alert-warning"><%= locals[:message] %></div>
  <% end %>
<% if @user && @user.level_completed.present? %>
  <% user_levels = @user.level_completed.split(',').map(&:to_i) %>
<% else %>
  <% user_levels = [] %>
<% end %>

<h1>Elige el nivel que quieres aprender del Sistema <%= @system %></h1>

<% systems_list = ['digestivo', 'respiratorio', 'circulatorio', 'reproductor'] %>
<% current_system_index = systems_list.index(@system) %>

<% if current_system_index %>
  <% current_level = user_levels[current_system_index] || 0 %>
  
  <ul>
    <% levels.each_with_index do |level, index| %>
      <li>
        <% if level == 1 || (level == 2 && current_level >= 2) || (level == 3 && current_level >= 3) %>
          <form action="/lesson/<%= @system %>/<%= level %>" method="get">
            <button type="submit">Nivel <%= level %></button>
          </form>
        <% else %>
          <button type="button" class="disabled" title="Completa el nivel anterior para desbloquear este nivel">Nivel <%= level %></button>
        <% end %>
      </li>
    <% end %>
  </ul>

<% else %>
  <p>Error: Sistema no encontrado.</p>
<% end %>

<form method="GET" action="/select_system">
  <button type="submit" class="refresh-button">Volver a seleccionar otro sistema</button>
</form>


</body>
</html>
